---
layout: default
title: Depresja poporodowa
image: /images/logo/og-image.png
---

<!-- Banner -->
	<section>
		<div class="content">
			<header>
				<h1>Depresja poporodowa</h1>
				<p>Może dotknąć każdej mamy i każdego taty!</p>
			</header>
            <section class="row" id="banner">
				<div class="col-6 col-12-medium col-12-small">
					
					<p>Wszystko dookoła nam mówi, że wraz z momentem narodzin dziecka powinniśmy stać się kochającymi i szczęśliwymi rodzicami. Tymczasem zapominamy, że jest to również jedno z największych życiowych wyzwań, niosące ze sobą dużo stresu i niepewności. Około <strong>15% kobiet</strong> oraz blisko <strong>10% ojców</strong> zmaga się w tym czasie z depresją poporodową. Skala problemu jest więc ogromna. Niestety tabu społeczne nadal skłania wiele osób do milczenia i niepodejmowania leczenia. Pora, abyśmy to zmienili i zaczęli o tym rozmawiać!</p>	
		    		</div>
                <div class="col-6 col-12-medium col-12-small">
					<span class="image object">
						<img src="{{ site.baseurl }}/images/main.jpg" alt="" />
					</span>
				</div>
            </section>

		</div>
	</section>

<!-- Section -->
	<section>
		<header class="major">
			<h2>Dowiedz się więcej</h2>
		</header>
		{% include components/features.html %}
	</section>

<!-- Section -->
	<section>
		<header class="major">
			<h2>Pozostałe artykuły</h2>
		</header>
		{% include components/posts.html %}
	</section>
