---
layout: page
title: Edynburska Skala Depresji Poporodowej
image: test.jpg
---

<h2>Test</h2>
<div class="box">
    <h3>Ważne</h3>
    <p>
        Poniższy kwestionariusz jest narzędziem pomocniczym, jego wyniki mogą
        posłużyć jako wskazówka, ale nie zastępuje on badania lekarskiego! Jednak w
        przypadku, gdy Twój wynik wskazuje na możliwość występowania depresji należy
        z pewnością skontaktować się z lekarzem. Możesz wtedy na spotkanie zabrać
        uzyskane wyniki i pokazać je specjaliście. Tylko on może postawić lub
        wykluczyć diagnozę i ustalić natężenie problemu.
    </p>
</div>
<form name="esdp-form">
    <p><strong>Przy każdym zagadnieniu wybierz stwierdzenie, które jest najbliższe temu, jak się czułaś w ciągu ostatnich 7 dni</strong>.</p>
    <ol>
    {% for item in site.data.esdp-test %}
        <li><fieldset>
        <legend>{{ item.question }}</legend>
        {% assign outer_index = forloop.index %}
        {% for subitem in item.answers %}
            <div><input type="radio" id="q{{outer_index}}-a{{forloop.index}}" name="q{{ outer_index }}" value="{{ subitem.value }}" required>
            <label for="q{{outer_index}}-a{{forloop.index}}">{{ subitem.answer }}</label></div>
        {% endfor %}
        </fieldset></li>
    {% endfor %}
    </ol>
    <button type="submit">Sprawdź wynik</button>
</form>
<div class="box" id="esdp-result" hidden>
<h3>Twój wynik: <span id="esdp-score">0</span> pkt.</h3>

{% for item in site.data.esdp-results %}
    <p id="esdp-result-{{ forloop.index0 }}" class="esdp-result" hidden>{{ item.result }}</p>
{% endfor %}
</div>
