---
layout: page
title: Edynburska Skala Depresji Poporodowej
---

<h2>Test</h2>
<form name="esdp-form">
    <ol>
    {% for item in site.data.esdp-test %}
        <li><fieldset>
        <legend>{{ item.question }}</legend>
        {% assign outer_index = forloop.index %}
        {% for subitem in item.answers %}
            <div><input type="radio" id="q{{outer_index}}-a{{forloop.index}}" name="q{{ outer_index }}" value="{{ subitem.value }}" required>
            <label for="q{{outer_index}}-a{{forloop.index}}">{{ subitem.answer }}</label></div>
        {% endfor %}
        </fieldset></li>
    {% endfor %}
    </ol>
    <button type="submit">Sprawdź wynik</button>
</form>
<div id="esdp-result" hidden>
<h3>Twój wynik: <span id="esdp-score">0</span> pkt.</h3>

{% for item in site.data.esdp-results %}
    <p id="esdp-result-{{ forloop.index0 }}" class="esdp-result" hidden>{{ item.result }}</p>
{% endfor %}
</div>