<!-- Features -->
	<div class="features">

		{% for feature in site.data.homepage-featured %}

		<article>

				{% if feature.icon %}
					<span class="icon {{ feature.icon }}"></span>
				{% endif %}

				<div class="content">
					<h3>{{ feature.title }}</h3>
					<p>{{ feature.excerpt | remove: "<p>" | remove: "</p>" }}</p>

					{% if feature.link%}
						<ul class="actions">
							<li><a class="button" href="{{ feature.link }}">{{ feature.button }}</a></li>
						</ul>
					{% endif %}

				</div>
			</article>

		{% endfor %}

	</div>