<!-- Header -->
	<header id="header">
		<div class="row">
			<div class="col-2 col-3-medium col-4-small">
				<a href="{{ site.baseurl }}/" class="logo">
					<img src="{{ site.baseurl }}/images/logo/noBackground.svg" alt="" height="auto" width="100%" />
				</a>
			</div>
		</div>
        {% comment %}
		<ul class="icons">
			<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
			<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
			<li><a href="#" class="icon brands fa-snapchat-ghost"><span class="label">Snapchat</span></a></li>
			<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
			<li><a href="#" class="icon brands fa-medium-m"><span class="label">Medium</span></a></li>
		</ul>
		{% endcomment %}
	</header>