{% comment %}

	Editorial by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license

	Name:

		Header

	Description:

		Site header.

	Example:

		{% include layout/header.html %}

{% endcomment %}

<!-- Header -->
	<header id="header">
		<a href="{{ site.baseurl }}/" class="logo">
			<strong>{{ site.title }}</strong> {{ site.tagline }}
		</a>
		<ul class="icons">
			<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
			<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
			<li><a href="#" class="icon brands fa-snapchat-ghost"><span class="label">Snapchat</span></a></li>
			<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
			<li><a href="#" class="icon brands fa-medium-m"><span class="label">Medium</span></a></li>
		</ul>
	</header>