<!-- Sidebar -->
	<div id="sidebar">
		<div class="inner">

				<section class="alt">
					<a href="/">DepresjaPoporodowa.pl</a>
				</section>

			<!-- Menu -->
				<nav id="menu">
					<header class="major">
						<h2>Menu</h2>
					</header>
					<ul>
					{% for parent in site.data.navigation %}
						{% if parent.children %}
							<li>
								{% assign is_active = false %}
								{% for child in parent.children %}
                                	{% if child.link == page.url %}
										{% assign is_active = true %}
									{% endif %}
								{% endfor %}
								<span class="opener{% if is_active %} active{% endif %}">{{ parent.name }}</span>
								<ul>
								{% for child in parent.children %}
									<li><a href="{{ child.link }}" {% if page.url == child.link %}class="current"{% endif %}>
										{{ child.name }}
									</a></li>
								{% endfor %}
								</ul>
							</li>
						{% else %}
							<li><a href="{{ parent.link }}" {% if page.url == parent.link %}class="current"{% endif %}>
								{{ parent.name }}
							</a></li>
						{% endif %}
					{% endfor %}
					</ul>
				</nav>

			<!-- Section -->
				<section>
					<header class="major">
						<h2>Test na depresję</h2>
					</header>
					<div class="mini-posts">
						<article>
							<a href="/objawy/esdp" class="image"><img src="{{ site.baseurl }}/images/pic07.jpg" alt="" /></a>
							<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
						</article>
					</div>
					<ul class="actions">
						<li><a href="/objawy/esdp" class="button">Zdiagnozuj się</a></li>
					</ul>
				</section>


			<!-- Section -->
				<section>
					<header class="major">
						<h2>Get in touch</h2>
					</header>
					<p>Sed varius enim lorem ullamcorper dolore aliquam aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin sed aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
					<ul class="contact">
						<li class="icon solid fa-envelope"><a href="#">info@depresjapoporodowa.pl</a></li>
					</ul>
				</section>

			<!-- Footer -->
				<footer id="footer">
					<p class="copyright">&copy; DepresjaPoporodowa.pl. All rights reserved.</p>
				</footer>

		</div>
	</div>