<!-- Sidebar -->
	<div id="sidebar">
		<div class="inner">
			<!-- Menu -->
				<nav id="menu">
					<header class="major">
						<h2>Menu</h2>
					</header>
					<ul>
					{% for parent in site.data.navigation %}
						{% if parent.children %}
							<li>
								{% assign is_active = false %}
								{% for child in parent.children %}
                                	{% if child.link == page.url %}
										{% assign is_active = true %}
									{% endif %}
								{% endfor %}
								<span class="opener{% if is_active %} active{% endif %}">{{ parent.name }}</span>
								<ul>
								{% for child in parent.children %}
									<li><a href="{{ child.link }}" {% if page.url == child.link %}class="current"{% endif %}>
										{{ child.name }}
									</a></li>
								{% endfor %}
								</ul>
							</li>
						{% else %}
							<li><a href="{{ parent.link }}" {% if page.url == parent.link %}class="current"{% endif %}>
								{{ parent.name }}
							</a></li>
						{% endif %}
					{% endfor %}
					</ul>
				</nav>

			<!-- Section -->
				<section>
					<header class="major">
						<h2><a href="/objawy/esdp">Test na depresję</a></h2>
					</header>
					<div class="mini-posts">
						<article>
							<a href="/objawy/esdp" class="image"><img src="{{ site.baseurl }}/images/question.jpg" alt="" /></a>
							<p>Edynburska skala depresji poporodowej.</p>
						</article>
					</div>
					<ul class="actions">
						<li><a href="/objawy/esdp" class="button">Wykonaj test</a></li>
					</ul>
				</section>


			<!-- Section -->
				<section>
					<header class="major">
						<h2>Kontakt</h2>
					</header>
					<p>Portal utrzymywany przez wolontariuszy. Możesz się z nami skontaktować pod poniższym adresem:</p>
					<ul class="contact">
						<li class="icon solid fa-envelope"><a href="&#x6d;&#x61;&#x69;&#x6c;&#x74;&#x6f;&#x3a;&#x69;&#x6e;&#x66;&#x6f;&#x40;&#x64;&#x65;&#x70;&#x72;&#x65;&#x73;&#x6a;&#x61;&#x70;&#x6f;&#x70;&#x6f;&#x72;&#x6f;&#x64;&#x6f;&#x77;&#x61;&#x2e;&#x70;&#x6c;">&#x69;&#x6e;&#x66;&#x6f;&#x40;&#x64;&#x65;&#x70;&#x72;&#x65;&#x73;&#x6a;&#x61;&#x70;&#x6f;&#x70;&#x6f;&#x72;&#x6f;&#x64;&#x6f;&#x77;&#x61;&#x2e;&#x70;&#x6c;</a></li>
					</ul>
				</section>

			<!-- Footer -->
				<footer id="footer">
					<p class="copyright">&copy; DepresjaPoporodowa.pl. All rights reserved.</p>
				</footer>

		</div>
	</div>
